.legend-color {
	height: 10px;
	width: 10px;
	margin: 0 10px 0 0;
	display: inline-block;
}

#legend {
	height:250px;
	overflow-y: scroll
}

@media (min-width: 550px) {
	.car-image{
		max-width:200px;
	}
}

.car-image{
	width:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}